@CHARSET "ISO-8859-1";

BODY {
	font-family: "Gill Sans MT",Georgia,Arial;
}

DIV {
	font: 12px sans-serif;
	font-family: "Gill Sans MT",Georgia,Arial;
	bgcolor: #ff0000;
}


/* individual div for each visualisation */
DIV .vis {
	margin: 0px;
	padding: 0;
	border: 0px solid black;
	resize: horizontal;
    overflow: auto;
}


/* class for column in a two-column div */
DIV .column {
	width: 49%;
	padding: 0;
	margin: 0;
	border: 0px solid blue;
}


/* class for column in a three-column div */
DIV .column3 {
	width: 30%;
	padding: 0;
	margin: 8px;
	border: 1px solid black;
}

/* hack class to keep divs in the same column vertically ordered */
DIV .hack {
	margin-right: 1px;
	padding: 0;
}

/* top svg element for each visualisation, makes it fill available space
	and 'hidden' stops ie9 drawing child elements that lie outside the svg bounds */
.visContainer {
	width: 100%;
	height: 98%;
	overflow: hidden;
}


.tagCloudFont {
	font-family: Gill Sans MT;
}


.controlText {
	/*pointer-events:none;*/
	font:14px sans-serif;
	font-family: "Gill Sans MT",Georgia,Arial;
	fill: #202050;
}

.buttonbase {
	fill: #9090f0;
	stroke: #7070c0;
	stroke-width: 2px;
}

.overlayButton {
    position:absolute;
    left:2px;
    top:2px;
    z-index:1;
}

.visControl {
    border: 1px solid gray;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(128,128,128,0.5);
    padding: 4px;
    padding-top: 10px;
    position: absolute;
    left:10px;
    top:30px;
}

.visControl P {
    font-weight: bold;
    /*text-decoration: underline;*/
    margin-top : 6px;
    margin-bottom: 0px;
}


.visControl input {
    display: inline-block;
}

.selected {
    fill: #f00;
    background: #f00;
}

.holdsSelected {
    fill: #fa8;
    background: #fa8;
}

.unselected {
    fill: #aaf;
    background: #aaf;
}

.highlight {
    fill: #ff0;
    background: #ff0;
}

.vesperMapIcon {
    text-align: right;
    border: #888 solid 1px;
    overflow: hidden;
    border-radius: 8px;
}

.vesperMapIcon div {
   height: 20px;
   font-weight: bold;
}

.vesperTooltip {
    position: absolute;
    border: 2px solid #444;
    border-radius: 10px;
    background: #aadddd;
    opacity: 0.9;
}

.vesperTooltip h2 {
    padding: 2px 4px 4px 4px;
    font-size: 12pt;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    color: #000;
    background: #1c94c4;
}

.vesperTooltip p {
    padding: 6px 4px 4px 4px;
    margin: 0px;
    font-size: 10pt;
    color: #222;
}

.sliderThumb {
    height: 16px;
    width: 16px;
    fill: rgba(128,128,128,0.5);
    stroke: black;
    stroke-width: 1px;
}

.sliderBar {
    height: 12px;
    fill: rgba(128,128,128,0.25);
    stroke: black;
    stroke-width: 1px;
}
