@CHARSET "ISO-8859-1";

BODY {
	font-family: "Gill Sans MT",Georgia,Arial;
}

DIV {
	font: 12px sans-serif;
	font-family: "Gill Sans MT",Georgia,Arial;
	bgcolor: #ff0000;
}


/* individual div for each visualisation */
DIV .vis {
    position: relative; /* cos it may include a draggable control */
	margin: 0px;
	padding: 0;
	border: 0px solid black;
	/*resize: horizontal; */
    overflow: auto;
}


.ui-accordion-header {
    font-family: "Gill Sans MT",Georgia,Arial;
}

.ui-accordion DIV.ui-accordion-content {
    font-family: "Gill Sans MT",Georgia,Arial;
    padding: 10px 5px;
    text-align: left;
}

.ui-accordion DIV.ui-accordion-content button {
    font-family: "Gill Sans MT",Georgia,Arial;
    margin-left: auto;
    margin-right: auto;
}

/* top svg element for each visualisation, makes it fill available space
	and 'hidden' stops ie9 drawing child elements that lie outside the svg bounds */
.visContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.visWrapper {
    /*position: relative;*/
    position: absolute;
    /*float: left;*/
    overflow: hidden;
    background: #eee;
    border: 1px solid #888;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.25);
}

.visWrapper div.dragbar {
    background: #88a url('../img/bumpPat.png') 100% 100% repeat;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
    height: auto;
    cursor: move;
}

.visWrapper div.dragbar:hover {
    background: #aad url('../img/bumpPat.png') 100% 100% repeat;
}


.visControl {
    border: 1px solid gray;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgba(128,128,128,0.5);
    padding: 4px;
    /*padding-top: 10px;*/
    position: absolute;
    left:10px;
    top:10px;
    max-width: 125px;
}


.visControl DIV.dragHandle {
    background: #aaa url('../img/bumpPat.png') 100% 100% repeat;
    height: 14px;
    cursor: move;
}

.visControl DIV.dragHandle:hover {
    background: #ccc url('../img/bumpPat.png') 100% 100% repeat;
}


.visControl input {
    display: inline-block;
}



/*
.selected {
    fill: #f00;
    background: #f00;
}

.holdsSelected {
    fill: #d8d;
    background: #d8d;
}
*/

.selected {
    fill: #f00;
    background: #f00;
    cursor: pointer;
}

.holdsSelected {
    fill: #f44;
    background: #f44;
    cursor: pointer;
}

.unselected {
    fill: #aaf;
    background: #aaf;
    cursor: pointer;
}

.highlight {
    fill: #ff0;
    background: #ff0;
}

.sliderThumb {
    height: 16px;
    width: 16px;
    fill: #888;
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.sliderBar {
    height: 12px;
    fill: #888;
    fill-opacity: 0.25;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.sliderRange {
    fill: #ccc;
    stroke: none;
}

.sliderText {
    font-size: 8pt;
}


.taxonomyCompareActive {
    background: yellow;
}

.vesperWarning {
    font-weight: bold;
    color: #ff8800;
}

label {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}


button.safetyGap {
    margin-bottom: 15px;
}

/*placeholder stylings*/
::-webkit-input-placeholder { color:#aaa; font-style: italic;}
::-moz-placeholder { color:#aaa; font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { color:#aaa; font-style: italic; } /* ie */
input:-moz-placeholder { color:#aaa; font-style: italic; }

DIV.accordSection {
    background: rgba(255,255,255,0.5);
}

