.vesperMapIcon {
    text-align: right;
    border: #888 solid 1px;
    overflow: hidden;
    border-radius: 8px;
}

.vesperMapIcon div {
    height: 20px;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    overflow: hidden;
}

.leaflet-bottom.leaflet-right {
    right: 15px;    /* clear a gap for the resizing icon */
}