BODY {
    position: relative;
}

div#pageTitle {
    text-align: center;
    background: #ada;
    padding: 0px 10px 10px 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0;
    /*border: solid 2px #8aa;*/
    background: linear-gradient(to right, #ada , #fff); /* Standard syntax */

}

div#pageTitle H1 {
    color: #fff;
    text-shadow: -1px -1px 0 #8aa,
    1px -1px 0 #8aa,
    -1px 1px 0 #8aa,
    1px 1px 0 #8aa;
    text-align: left;
    font-size: 36pt;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

div#pageTitle H2 {
    text-align: left;
    font-size: 16pt;
    color: #8aa;
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 60px;
}

.demoPageColours {
    fill: #ada;
    background: #ada;
    stroke: #8aa;
    border: 1px solid #8aa;
    stroke-width: 1;
}

#tabs {
    font-family: "Gill Sans MT";
    margin-bottom: 4px;
}

#examples table {
    border: solid 1px #8aa;
    background: #eff;
    margin: 0 auto;
}

#examples table tr:nth-child(2n+1) {
    background: #dff;
}

#examples table tr th {
    font-size: 12pt;
    border-color: #8aa;
}

#examples table tr td {
    padding: 0px 10px 0px 10px;
    border: 1px solid #8aa;
    border-top: 0;
    border-bottom: 0;
}

#examples table tr td:nth-child(2) {
    max-width: 400px;
}

button[type="button"].choice {
    margin: 4px;
    font-size: 12pt;
    font-family: "Gill Sans MT",Georgia,Arial;
}


div#small {
    margin: 0;
    padding: 0;
}





div.selectionWrapper {
    margin: 0 auto;
}

div#basicSelectDiv {
    width: 150px;
    float: left;
    background: #dff;
    border: solid 2px #add;
    padding: 4px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

div#basicSelectDiv hr {
    border: 1px solid #add;
    border-top-width: 1px;
    border-bottom-width: 0px;
}

button[type="button"] {
    width: 130px;
    white-space: normal;
    font-family: "Gill Sans MT", Georgia, Arial;
    cursor: pointer;
}

button[type="button"].load {
    width: 130px;
    white-space: normal;
    font-weight: bold;
}

button[type="button"].selButtonStyle {
    font-size: 10pt;
}

#filenamePlaceholder {
    text-align: center;
    font-size: 14pt;
    margin: 0px;
    text-align: left;
}

#filesizePlaceholder {
    text-align: left;
    font-size: 11pt;
    margin: 0px;
}

span.fieldGroup {
    display: block;
}

/* hide certain div elements to start with*/
#selDiv, #advancedSelectDiv, #advancedSelectOuter {
    display: none;
}

#selDiv H4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#listDiv {
    display: none;
    overflow: hidden;
    margin-left: 150px;
}

img.vesperIcon {
    margin-right: 7px;
}





div.selectBox {
    border: 1px solid gray;
    background: #ddf;
    float: left;
    margin: 5px;
    min-width: 150px;
}

div.selectBox table {
    width: 100%;
    margin: 0;
    padding: 0;
}
div.selectBox table.coreTable {
    background: #dfd;
}

tr.col {
    background: #e0e0ff;
}

.coreTable tr.col {
    background: #e0ffe0;
}




#allVisDiv {
    margin: 0 auto;
    width: 90%;
    position: relative;
    clear: both;
    overflow: hidden;
    display: none;
}




.html5lack {
    font-size: 10pt;
    font-weight: normal;
    font-family: "OCR A Extended", Courier, monospace;
    display: inline-block;
}

.visWrapper {
    position: relative;
    float: left;
}

.visWrapper div.dragbar {
    background: #88a url('../img/bumpPat.png') 100% 100% repeat;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
    height: auto;
    cursor: move;
}

div.visTitle {
    float: none;
    font-size: 16pt;
    text-shadow: 0px 0px 5px #fff;
    width: auto;
}

div.buttonBank {
    float: right;
    margin-top: 3px;
    vertical-align: top;
    width: 65px;
    text-align: right;
}

.buttonBank button[type="button"] {
    font-size: 10pt;
    height: 20px;
    width: 25px;
}

.showHideColours {
    stroke: none;
    stroke-width: 1;
    fill: #000;
}

.tabbedStuff {
    font-size: 12pt;
    max-width: 90%;
    margin: 0 auto;
}

.loadProgressDiv {
    border: 1px solid #cdc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ded;
    width: 100%;
    /*height: 24px;*/
    margin: 2px;
    display: none; /* not shown at first */
}

.loadProgressDiv p, .loadProgressDiv span {
    font-size: 12pt;
    color: #333;
    width: 100%;
    margin: 2px 8px;
    font-weight: bold;
}