.vesperTooltip {
    position: absolute;
    border: 2px solid #444;
    border-radius: 10px;
    background: #aadddd;
    opacity: 0.9;
    z-index: 1001;
    max-width: 300px;
}

.vesperTooltip h2 {
    padding: 2px 4px 4px 4px;
    font-size: 12pt;
    margin: 0px;
    border-radius: 8px 8px 0px 0px;
    color: #000;
    background: #1c94c4;
}

.vesperTooltip p {
    padding: 6px 4px 4px 4px;
    margin: 0px;
    font-size: 10pt;
    color: #222;
}

.vesperTooltip hr {
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    margin: 2px 0px;
}


