.treeNode {
    fill-rule: evenodd;
    stroke: #fff;
}

.treeNode .holdsSelected {
    stroke: none;
}

.treeNode text {
	fill: #222;
    stroke: none;
	font-size: 14px;
    font-variant: small-caps;
	pointer-events: none;
    text-anchor: start;
}

.indHatch {
    /*fill: #888;*/
    /*fill-opacity: 0.25;*/
    stroke: none;
}